<!--
     title: Future Jams
     description: List of future Cornwall Tech Jams
-->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Future Cornwall Tech Jams</h1>
    </div>
</header>

<div class="container">
  <h1 class="small-caps">2021</h1>
  <p class="lead">
    <table>
      <tr>
        <th>16th October 2021&nbsp&nbsp</th>
        <th>FibreHub Pool&nbsp&nbsp</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>November 2021</th>
        <th>TBC</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>December 2021</th>
        <th>TBC</th>
        <th>10am to 2pm</th>
      </tr>
    </table>
  </p>
</div>
