<!--
     title: Future Jams
     description: List of future Cornwall Tech Jams
-->

<header class="main-header">
    <div class="container">
        <h1 class="page-title">Future Cornwall Tech Jams</h1>
    </div>
</header>

<div class="container">
  <h1 class="small-caps">2022</h1>
  <p class="lead">
    <table>
      <tr>
        <th>8th January 2022</th>
        <th>FibreHub Pool</th>
        <th>10am to 12pm & 12pm to 2pm</th>
      </tr>
      <tr>
        <th>12th February 2022&nbsp&nbsp</th>
        <th>The Pavilion Egloshayle&nbsp&nbsp</th>
        <th>10am to 12pm & 12pm to 2pm</th>
      </tr>
      <tr>
        <th>12th March 2022</th>
        <th>FibreHub Pool</th>
        <th>10am to 12pm & 12pm to 2pm</th>
      </tr>
      <tr>
        <th>9th April 2022</th>
        <th>Fraddon Village Hall</th>
        <th>10am to 12pm & 12pm to 2pm</th>
      </tr>
      <tr>
        <th>14th May 2022</th>
        <th>FibreHub Pool</th>
        <th>10am to 12pm & 12pm to 2pm</th>
      </tr>
      <tr>
        <th>11th June 2022</th>
        <th>Fraddon Village Hall</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>9th July 2022</th>
        <th>Fibre Hub Pool</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>August 2022</th>
        <th>Summer Holiday</th>
        <th></th>
      </tr>
      <tr>
        <th>10th September 2022&nbsp&nbsp</th>
        <th>Fraddon Village Hall</th>
        <th>10am to 2pm</th>
      </tr>
      <tr>
        <th>October 2022</th>
        <th>TBC</th>
        <th>10am to 12pm & 12pm to 2pm</th>
      </tr>
      <tr>
        <th>November 2022</th>
        <th>TBC</th>
        <th>10am to 12pm & 12pm to 2pm</th>
      </tr>
      <tr>
        <th>December 2022</th>
        <th>TBC</th>
        <th>10am to 12pm & 12pm to 2pm</th>
      </tr>
    </table>
  </p>
</div>
